div{
    border: 8px solid blue;
    margin: 1rem;
}
#mp{
    margin: 2rem ;
    padding: 2rem;
    border: solid 6px green;
    border-style:dashed ;
}
img{
    border: 3px solid brown;
    padding: 1rem;
    margin: 2rem;
}