body{
height: 100vh;
place-content: center;
background-color: burlywood;
background: linear-gradient( 90deg,rgba(223, 143, 90, 0.486) 0%,
 rgba(247, 90, 0, 0.452)50%, rgba(219, 153, 91, 0.575)100%);
overflow: hidden;
}
div{
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
    width: 25%;
    text-align: center;
    background-color: rgb(73, 30, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
}

li{
    list-style-type: circle;
    color: white;
    text-transform: uppercase;
    text-align: left;
}
img{
width: 100px;
border-radius: 250px;
place-content: center;
}