*{
    box-sizing: border-box;
}
body{
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    margin-left:1rem ;
}
nav a{
    text-decoration: none;
    background-color: rgb(100, 41, 6);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-right:10px ;
}
#h1{
    text-align: center;
    font-size: 50px;
}
.p-ta{
    display: flex;
    align-items: center;
    justify-content:center;
}
.p-tag{
    background-color:rgb(100, 41, 6);
    padding: 10px;
    border-radius:8px;
    color: white;
    margin: 1rem; 
}
.grid-container{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns:auto auto auto;
    grid-template-areas: 'myArea, myArea, myArea, myArea, myArea';
    row-gap: 10px;
    column-gap: 10px;
}
.grid-item{
    padding: 2rem;
}
#item7{
    grid-area: myArea;
}
img{
    width: 90%;
    height: 90%;
}
footer{
    text-align: center;
    background-color:rgb(100, 41, 6) ;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1px;
}
#btn{
    padding: 15px;
    background-color: rgb(31, 141, 9);
    color: white;
    border-radius: 5px;
    text-align: center;
    border: none;
    margin-bottom: 1rem;
}
@media screen  and (min-width:600px){
        html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 600px){
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
}
@media screen and (max-width:395px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        align-content: center;
    }
    nav a{
        display: block;
        font-size: smaller;
    }
    .p-tag{
        display: block;
        font-size: smaller;
    }
}